@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

body {
  text-align: center;
}

#level {
  font-family: 'Montserrat', sans-serif;
  margin-top: 5px;
  padding-top: 30px;
}

#char-list {
  display: none;
}

button img:hover {
  cursor: pointer;
  opacity: 0.3;
}

#choose-image-button {
  margin-bottom: 10px;
  background-color: #4CAF50;
  border: 1px solid grey;
  padding: 5px;
}
